## local.properties 模板
## 复制此文件为 local.properties 并填入你的 Android SDK 路径
##
## Windows 示例:
##   sdk.dir=C\:\\Users\\你的用户名\\AppData\\Local\\Android\\Sdk
##
## macOS 示例:
##   sdk.dir=/Users/你的用户名/Library/Android/sdk
##
## Linux 示例:
##   sdk.dir=/home/你的用户名/Android/Sdk

sdk.dir=在此填入你的 Android SDK 路径
